In [9]:
## Setting the working directory as data, as I want to create the dataframes I will be using throughout this assignment
cd /files/ds105a-2024-w06-summative-deyavuz/data

/files/ds105a-2024-w06-summative-deyavuz/data

In [10]:
## I'm importing the packages that I'll be using throughout this assignment
import pandas as pd
import os
import json
import requests
import numpy as np
import pandas as pd

from lets_plot import *
LetsPlot.setup_html()

In [11]:
##Â I am getting the API URL and printing it to see if I have made any mistakes
london_url = "https://historical-forecast-api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&start_date=2021-03-01&end_date=2024-10-29&hourly=rain,showers,cloud_cover&timezone=Europe%2FLondon"

print(london_url)

response = requests.get(london_url)

response.json()

london_data = response.json()

response

https://historical-forecast-api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&start_date=2021-03-01&end_date=2024-10-29&hourly=rain,showers,cloud_cover&timezone=Europe%2FLondon

In [12]:
## Saved the historical London temperatures as a json file
with open("london_temperatures.json", "w") as file: 
    json.dump(london_data, file)

In [19]:
## Converted the json file into a csv for convenience and standardization
with open('london_temperatures.json') as inputfile:
    df = pd.read_json(inputfile)

df.to_csv('london_temperatures.csv', index=False)

In [18]:
## Attemped to use pandas to format the dataset
pd.read_csv("london_temperatures.csv")

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,hourly_units,hourly
0,52.52,13.419998,11.35993,0,Europe/London,GMT,38,iso8601,"['2021-03-01T00:00', '2021-03-01T01:00', '2021..."
1,52.52,13.419998,11.35993,0,Europe/London,GMT,38,mm,"[None, None, None, None, None, None, None, Non..."
2,52.52,13.419998,11.35993,0,Europe/London,GMT,38,mm,"[None, None, None, None, None, None, None, Non..."
3,52.52,13.419998,11.35993,0,Europe/London,GMT,38,%,"[None, None, None, None, None, None, None, Non..."